body{
    display: flex;
    justify-content: center;
}
.nav_bar{
    display: flex;
    border:1px solid dimgray;
    height: 40px;
    width: 80%;
    align-items:center;
    background: dimgray;
}
.default-selected{
    background: limegreen;
}
i{
    color: white;
}
ul{
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
}
li{
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
}
li:hover{
     background-color: #000;
 }
span{
     color: white;
     margin-left: 5px;
}